/*YOUR CUSTOM STYLES*/
::-webkit-scrollbar {
    width: 4px;
    background: #f9f9f9}

::-webkit-scrollbar-thumb {
    border-radius:7px;
    background:#03a9f4;
}

.bookingbody{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 500px;
    padding: 50px 0;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://www.thebalancecareers.com/thmb/tsFVPKNMhKjFEi5K7blCMRdaF_k=/3337x2503/smart/filters:no_upscale()/Airplane_Aaron-Foster_Getty-Images-56a97ede3df78cf772a78326.jpg');
}

.bookingMask{
    position: absolute;
    top: 0;
    right:0;
    width: 50%;
    height: 100%;
    background-color: #000000bb;
}